@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --dark-blue: #184366;
  --light-green: #0e987d;
  --light-blue: #5ab3c4;
  --yellow: #e8b20f;
  --orange: #e95b37;
  --OffWhite: #f8f8f8;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
/* ======= MENU ======= */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* main-menu-style */
.header-top-menu {
  /* if-needed-to-position-over-other-div
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; */

  width: 100vw;
  margin: 0 auto;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: linear 0.3s;
}
.main-menu {
  display: flex;
  justify-content: space-between;
}
.main-menu li {
  position: relative;
  background-color: var(--dark-blue);
  width: 100%;
  text-align: center;
  transition: linear 0.3s;
}
.main-menu li a {
  color: #fff;
  display: block;
  padding: 10px;
  transition: linear 0.3s;
}
/* hover-effects */
.main-menu li:hover {
  background-color: var(--OffWhite);
}
.main-menu li:hover a {
  color: var(--light-green);
}
/* drop-down-menu-on-hover */
.drop-down {
  position: absolute;
  width: 100%;
  display: none;
  transition: linear 0.3s;
}
.drop-down li:hover {
  background-color: var(--OffWhite);
}
.main-menu li:hover .drop-down {
  display: block;
}

/* ======= Body ======= */

.bookmark {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 1.5rem 0;
}

.bookmark__wrapper {
  width: 85%;
  display: grid;
  grid-template-columns: 6fr 6fr;
}
.bookmark__title {
  margin: 1.5rem 0;
}
.bookmark__title h2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #626874;
}
.bookmark__container {
  margin: 1.5rem 0;
  background-color: #fff;
  padding: 1.5rem 0.5rem;
}

#bookmark__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark__form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin: 0 0.5rem;
  border-radius: 25px;
}

#bookmark__form input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: transparent;
  width: 100%;
  border: 0;
  margin: 4px 2px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #bbbcbe;
  border-radius: 5px;
}

#bookmark__form .bookmark__form-btn {
  background-color: var(--dark-blue);
  border: none;
  color: var(--OffWhite);
  padding: 10px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.bookmark__form-group {
}

.bookmark__results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 1.5rem 0;
}
#bookmark__results-list {
  display: grid;
  grid-template-columns: 4fr 4fr auto;
}

#bookmark__results-list .bookmark__results-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bbbcbe;
}

#bookmark__results-list .bookmark__results-item a {
  font-size: 1.5rem;
  color: #626874;
  transition: ease-in-out 0.4s;
  margin: 0 0.25rem;
}
#bookmark__results-list .bookmark__results-item a:hover {
  color: var(--yellow);
}
#bookmark__results-list .bookmark__results-item i {
  color: var(--light-blue);
  margin: 0 0.25rem;
  font-size: 1.5rem;
}
